/* Common To all */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;  
}



:root{
 --left-color:rgba(3, 9, 56, 0.818);
 --icon-color:rgb(22, 16, 40);
}
.grid{
    display:grid;
    
    grid-template-columns:30% 70%;
}

.main-content{
    min-height: 1000px;
    max-width: 1000px;
   
}

.left-section{
    /* border: 5px solid black; */
    background-color: var(--left-color);
    padding: 1rem;
    color: white;
}

.right-section{
    border: 5px solid red;
    padding: 2rem 3rem;
}

img{
    display: block;
    margin: auto;
    width: 60%;
    border: 5px solid white;
    border-radius: 30%;
}

li{
    list-style: none;
}



/* Left -Section  */

/* Profile Info */




.profile-details h4{
    border-bottom: 3px solid white;
    font-size: 1 rem;
    text-align: center;
    padding: 0.5rem;
}

.profile-details h2{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.8rem;
    letter-spacing: 0.02px;
    text-transform: uppercase;
    text-align: center;
}

.profile-details p{
    font-size: 0.75rem;
    padding: 1rem;
    text-align: center;
}


/* Contact Info */

.flex{
    display: flex;
    justify-content: space-around;
    padding-left: 0%;
}

.personal-details{
    margin-top: 1.5em;
}

.personal-details p{
    font-size: 1rem;
    /* padding-left: 1.5em; */
    overflow:hidden;
    
    
}

#location::before{
    font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
	content: "\f041";
    padding-right: 1em;
    color: var(--icon-color);
}

#phone::before{
    font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
	content: "\f095";
    padding-right: 1em;
    color: var(--icon-color);
}
#email::before{
    font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
	content: "\f0e0";   
    padding-right: 1em;
    color: var(--icon-color);
}



/* Skills Section */

.skills h2{
    text-align: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}

.skill-name{
    font-size: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
   
}

.progress-bar{
    border-bottom: 1px solid white;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1em;
}



           /* xxxxxxxxxx---------Right Section -------------xxxxxxxxxx */

.right-title{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.right-section p{
    padding: 0.5rem;
}

.grid-education{
    display: grid;
    grid-template-columns: 80% 20%;
}



/* Experaince */

.item-newton li{
    list-style:circle ;
}



/* Projects */


.grid-projects{
    display: grid;
    grid-template-columns: 80% 20%;
    

}